<nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="{{ print "/" | relLangURL }}">{{ .Site.Title }}</a>
    <input type="checkbox" id="menu-control"/>
    <label class="menu-mobile {{ if $.Site.Params.rtl }} float-left {{ else }} float-right {{ end }}" for="menu-control">
      <span class="btn-mobile {{ if $.Site.Params.rtl }} float-left {{ else }} float-right {{ end }}">&#9776;</span>
      <ul class="navigation-list">
          {{ range .Site.Menus.nav }}
            <li class="navigation-item {{ if $.Site.Params.itemscentered }} align-center {{ else }} {{ if $.Site.Params.rtl }} align-right {{ else }} align-left {{ end }} {{ end }}">
              <a class="navigation-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            </li>
          {{ end }}
      </ul>
    </label>
  </section>
</nav>
